body{
    margin: 0;
    padding: 0;
    background-color: azure;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app{
    background-color: rgb(255 255 255);
    box-sizing: rgb(0,0,0,0.05) 0 6px 24px, rgb(0,0,0,0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 100vh;
    max-width: 1200px;
    margin-top: 50px;
}

.button-container, .info-container{
    margin: 10px;
    display: flex;
    align-items: center;
}
.button-container button{
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 10px;
    font-size: 1.15rem;
}

.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(0,0,0,0, 0.05) 1px solid;
}


/* List Item */

.list-item{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.tick-svg{
    margin-right: 10px;
}

.edit{
    border: 1.5px solid rgb(141, 181 ,145);
    color: rgb(141, 181 ,145);
    background-color: transparent;
    text-transform: uppercase;
    box-shadow: 2px 1px 1px rgb(141, 181 ,145);
    transition: 0.3s;
}
.edit:hover{
    background-color: rgb(141, 181 ,145);
    color: white;
}
.delete{
    border: 1.5px solid rgb(255, 113, 113);
    color: rgb(255, 113, 113);
    background-color: transparent;
    text-transform: uppercase;
    box-shadow: 2px 1px 1px rgb(255, 113, 113);
    transition: 0.3s;
}
.delete:hover{
    background-color: rgb(255, 113, 113);
    color: white;
}
.create{
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    background-color: transparent;
    text-transform: uppercase;
    box-shadow: 2px 1px 1px rgb(108, 115, 148);
    transition: 0.3s;
}
.create:hover{
    background-color: rgb(108, 115, 148);
    color: white;
}

.delete, .signout{
    border: 1.5px solid rgb(255, 113, 113);
    color: rgb(255, 113, 113);
    background-color: transparent;
    text-transform: uppercase;
    box-shadow: 2px 1px 1px rgb(255, 113, 113);
    transition: 0.3s;
}
.delete:hover{
    background-color: rgb(255, 113, 113);
    color: white;
}
.signout:hover{
    background-color: rgb(255, 113, 113);
    color: white;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 800px;
    background-color: azure;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0, 0.5) 0 6px 24px 0, rgba(0,0,0,0, 0.08) 0 0 0 1px;
}

.modal .form-title-container{
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button{
    border: none;
    background-color: transparent;
}

.modal .form-title-container button :active{
    color: red;
}

.modal form{
    display: flex;
    flex-direction: column;
}

.modal label{
    font-size: 13px;
}

input{
    margin: 5px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
}

.auth-container{
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: rgba(135, 134, 134, 0.05) 0 6px 24px, rgb(0,0,0,0, 0.08) 0 0 0 1px; */
}

.auth-container-box form{
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px;
}

.auth-options{
    display: flex;
}

.auth-options button{
    cursor: pointer;
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35, 38, 47);
    font-weight: bold;
}

.user-email{
    float: right;
    font-size: 15px;
    margin: 10px;
    color: rgb(114, 114, 114);
}

.outer-bar{
    width: 200px;
    height: 14px;
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    overflow: hidden;
    margin-left: 50px;
}

.inner-bar{
    height: 14px;   
}

.task-title{
    width: 150px;
}